@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Play", sans-serif;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-track{
    width: 10px;
    background-color: rgba(189, 195, 199,1.0);
}
body::-webkit-scrollbar-thumb{
    width: 10px;
    background-color:rgba(44, 62, 80,1.0);
    border-radius: 2px;
}
// Header area
.navbar-brand img{
    height: 50px;
    
}
.header-outer{
    position: sticky;
    top: 0;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.61);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.61);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.61);

}

body::-webkit-scrollbar{
    width: 10px;

}
.back-to-top-outer{
    width: 50px;
    height: 50px;
    background-color: rgba(44, 62, 80,1.0);
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 4px 4px 4px #535c68;

}
.back-to-top-outer a{
    width:50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.fa-solid{
    font-size: 18px;
    color: #ecf0f1;
}
//
.outer{
    width: 100%;
    height: 400px;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
// Header area

// home area
.home-outer{
    width: 100%;
    height: auto;
    // background-image: url('logo/head_background.jpg')
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: right;
    // background-color:black
    // background: rgb(255,255,255);
    // background: linear-gradient(133deg, rgba(255,255,255,1) 14%, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 80%);
     background: rgb(87,169,222);
     background: linear-gradient(110deg, rgba(87,169,222,1) 0%, rgba(45,86,145,1) 25%, rgba(0,0,0,1) 49%, rgba(0,0,0,1) 86%);
}
.home-outer img{
width: 100%;
}
.home-container{
    // border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    // height: 100%;
    // width: 100%;
    // margin: 0;
    // margin-top: -100px;

}
.about-text{
    margin-top: 100px;
    margin-bottom: 100PX;
    color: white;
}
.title-text{
    color: white;
    font-weight: bold;
}
.header-text{
    font-weight: bold;
    font-size: 80px;
    color: white;
    line-height: 80px;
}
.line{
    border: 2px solid #eb3b5a; 
}
.profile-info {
    display: flex;
    flex-direction: column;
  
  }
  
.profile-info > div {
    margin-bottom: 10px;
  }
  
.label-about {
    font-weight: bold;
    width: 150px;
    display: inline-block;
  }
  

.feature-right img{
    margin-top: 5px;
    
}

// qualification area
.qualification-container{
    
    height: 100%;
    width: 80%;
    // border: 1px solid red;
    
}
.qualification-outer{
    width: 100%;
    height: auto;
    // background-color: #a5b1c2;
    // margin-top: -20px;
    display: flex;
    background: rgb(255,255,255);
// background: linear-gradient(0deg, rgba(255,255,255,0.768032212885154) 0%, rgba(191,226,232,0.5159313725490196) 11%, rgba(131,170,217,1) 95%);
    
}

.about-tittle{
    margin-top: 80px;
    font-weight: bold;
    font-size: 60px;
    color: #e74c3c;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
// qualification area
.qualifi-header{
    color: #e74c3c;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
// qualification area

//skill-area
.skill-outer-container{
    // border: 1px solid red;
    height: 100%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    
}

.skill-outer{
    width: 100%;
    // height: 200px;
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(191,226,232,0.5159313725490196) 42%, rgba(9,43,85,1) 92%);
}

.product-outer{
    width: 50%;
    height: auto;
    padding: 50px 0;

}
.product-tittle{


    margin-top: 100px;
    font-weight: bold;
    font-size: 60px;
    color:#e74c3c;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.product-headeer{
    text-align: center;

}
.product-wrapper{
    margin-bottom: 80px;
}
.product-inner{
    width: 80%;
    height: 200px;
    margin-top: 100px;
    /* border: 1px solid red; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
// .feature-title{
//     color: #ED4C67;
// }
// .feature-outer ol{
//     padding: 0;
//     margin: 15px;

// }

// .feature-outer ol li{
    
//     font-style: italic;
// }
// .feature-right img{
//     margin-top: 20px;
// }
// .feature-wrapper{
//     /* border: 1px solid red; */
// }
// .feature-outer{
//     /* border: 1px solid red; */
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
// }
//skill-area