@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Guerrilla&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Play", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  width: 10px;
  background-color: rgb(189, 195, 199);
}

body::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(44, 62, 80);
  border-radius: 2px;
}

.navbar-brand img {
  height: 50px;
}

.header-outer {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.61);
}

body::-webkit-scrollbar {
  width: 10px;
}

.back-to-top-outer {
  width: 50px;
  height: 50px;
  background-color: rgb(44, 62, 80);
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px #535c68;
}

.back-to-top-outer a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.fa-solid {
  font-size: 18px;
  color: #ecf0f1;
}

.outer {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-outer {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background: rgb(87, 169, 222);
  background: linear-gradient(110deg, rgb(87, 169, 222) 0%, rgb(45, 86, 145) 25%, rgb(0, 0, 0) 49%, rgb(0, 0, 0) 86%);
}

.home-outer img {
  width: auto;
}

.home-container {
  height: 100%;
  width: auto;
  display: flex;
}

.about-text {
  margin-top: 100px;
  margin-bottom: 100PX;
  color: white;
}

.title-text {
  color: white;
  font-weight: bold;
}

.header-text {
  font-weight: bold;
  font-size: 80px;
  color: white;
  line-height: 80px;
}

@media (max-width: 600px) {
  .header-text {
    font-weight: bold;
    font-size: 50px;
    color: white;
    line-height: 80px;
  }
}
.line {
  border: 2px solid #eb3b5a;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.profile-info > div {
  margin-bottom: 10px;
}

.label-about {
  font-weight: bold;
  width: 150px;
  display: inline-block;
}

.qualification-container {
  height: 100%;
  width: auto;
}

.qualification-outer {
  width: 100%;
  height: auto;
  display: flex;
  background: rgb(255, 255, 255);
}

.about-tittle {
  margin-top: 80px;
  font-weight: bold;
  font-size: 60px;
  color: #e74c3c;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.qualifi-header {
  color: #e74c3c;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-btn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media (max-width: 600px) {
  .qualification-content .about-tittle {
    margin-top: 80px;
    font-weight: bold;
    font-size: 35px;
    color: #e74c3c;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.skill-outer-container {
  height: 100%;
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.skill-outer {
  width: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(191, 226, 232, 0.5159313725) 42%, rgb(9, 43, 85) 92%);
}

.product-outer {
  width: 50%;
  height: auto;
  padding: 50px 0;
}

.product-tittle {
  margin-top: 100px;
  font-weight: bold;
  font-size: 50px;
  color: #e74c3c;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.product-headeer {
  text-align: center;
}

.product-wrapper {
  margin-bottom: 80px;
}

.card {
  align-items: center;
}

/* Product-area */
.product-outer {
  width: 100%;
  height: auto;
  padding: 50px 0;
}

.product-tittle {
  color: #1B1464;
  text-align: center;
}

.product-headeer {
  text-align: center;
}

.product-wrapper {
  margin-bottom: 15px;
}

.product-inner {
  width: 100%;
  height: 300px;
  /* border: 1px solid red; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-title {
  color: #dc3545;
}

.feature-outer ol {
  padding: 0;
  margin: 15px;
}

.feature-outer ol li {
  font-style: italic;
}

.feature-right img {
  margin-top: 20px;
  width: 500px;
}

@media (max-width: 600px) {
  .feature-right img {
    margin-top: 20px;
    width: 300px;
  }
}
.feature-wrapper {
  /* border: 1px solid red; */
}

.feature-outer {
  /* border: 1px solid red; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Product-area */
/* footer-area */
.Footer-area {
  background-color: #333;
  width: 100%;
  /* height: 400px; */
  padding: 50px 0;
}

.footer-title, .footer-desc {
  text-align: center;
  color: #ffffff;
}

.footer-element {
  height: 200px;
}

.copyright-text-outer {
  color: #ffffff;
  text-align: center;
}

.copyright-text-outer a {
  text-decoration: none;
  color: #dc3545;
}

.copyright-text-outer a:hover {
  text-decoration: underline;
}

.cet1 .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.cet1:hover .tooltiptext {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */